i {
    color: white;
    padding: 5px;
    border-radius: 3px;
}

i:hover {
    transform: scale(1.2);
}

i.fa-eye {
    background-color: #00b700;
}

i.fa-pen {
    background-color: #0d6efd;
}

i.fa-trash {
    background-color: red;
}