body {
    position: relative;
    min-height: 100vh;
    background-color: #f5f5f5;
}

body::after {
    content: '';
    display: block;
    height: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}