extends layout.pug

append head
  style
    include styles/index.css
  title Accueil

block content
  //- div(class="card" style="width: 18rem;")
  //-   .card-header Contacts
  //-   ul.list-group.list-group-flush 
  //-     each val in contact 
  //-       li.list-group-item
  //-         a(href="#")= val.name

  table.table 
    thead 
      tr 
        th(scope="col" class="table-dark") Prénom 
        th(scope="col" class="table-dark") Nom
        th(scope="col" class="table-dark") Actions
    tbody
      each val in contact 
        tr 
          td= val.firstname 
          td= val.lastname
          td(style="display: flex;")
            div
              i.fa-solid.fa-eye
            div
              i.fa-solid.fa-pen
            div
              i.fa-solid.fa-trash